################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ShortLinkGen/ShortLinkGen/bin
/ShortLinkGen/ShortLinkGen/obj
